In [7]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

# 데이터 로드
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

train.head()

,ID,Exercise_Duration,Body_Temperature(F),BPM,Height(Feet),Height(Remainder_Inches),Weight(lb),Weight_Status,Gender,Age,Calories_Burned
0,TRAIN_0000,26.0,105.6,107.0,5.0,9.0,154.3,Normal Weight,F,45,166.0
1,TRAIN_0001,7.0,103.3,88.0,6.0,6.0,224.9,Overweight,M,50,33.0
2,TRAIN_0002,7.0,103.3,86.0,6.0,3.0,218.3,Overweight,M,29,23.0
3,TRAIN_0003,17.0,104.0,99.0,5.0,6.0,147.7,Normal Weight,F,33,91.0
4,TRAIN_0004,9.0,102.7,88.0,5.0,10.0,169.8,Normal Weight,M,38,32.0

In [8]:
test.head()

,ID,Exercise_Duration,Body_Temperature(F),BPM,Height(Feet),Height(Remainder_Inches),Weight(lb),Weight_Status,Gender,Age
0,TEST_0000,26.0,105.1,107.0,5.0,1.0,114.6,Normal Weight,F,45
1,TEST_0001,29.0,104.9,111.0,6.0,2.0,198.4,Overweight,M,21
2,TEST_0002,11.0,104.0,90.0,5.0,9.0,169.8,Normal Weight,M,58
3,TEST_0003,24.0,105.4,108.0,5.0,12.0,196.2,Overweight,M,35
4,TEST_0004,29.0,106.0,116.0,5.0,7.0,147.7,Normal Weight,F,67

In [9]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7500 entries, 0 to 7499
Data columns (total 11 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID                        7500 non-null   object
 1   Exercise_Duration         7500 non-null   float64
 2   Body_Temperature(F)       7500 non-null   float64
 3   BPM                       7500 non-null   float64
 4   Height(Feet)              7500 non-null   float64
 5   Height(Remainder_Inches)  7500 non-null   float64
 6   Weight(lb)                7500 non-null   float64
 7   Weight_Status             7500 non-null   object
 8   Gender                    7500 non-null   object
 9   Age                       7500 non-null   int64
 10  Calories_Burned           7500 non-null   float64
dtypes: float64(7), int64(1), object(3)
memory usage: 644.7+ KB

In [10]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7500 entries, 0 to 7499
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID                        7500 non-null   object
 1   Exercise_Duration         7500 non-null   float64
 2   Body_Temperature(F)       7500 non-null   float64
 3   BPM                       7500 non-null   float64
 4   Height(Feet)              7500 non-null   float64
 5   Height(Remainder_Inches)  7500 non-null   float64
 6   Weight(lb)                7500 non-null   float64
 7   Weight_Status             7500 non-null   object
 8   Gender                    7500 non-null   object
 9   Age                       7500 non-null   int64
dtypes: float64(6), int64(1), object(3)
memory usage: 586.1+ KB

In [11]:
train['Weight_Status'].value_counts()
train['Gender'].value_counts()

F    3769
M    3731
Name: Gender, dtype: int64

In [12]:
# 4. 이상치 확인
def check_outliers(df, columns):
    for col in columns:
        Q1 = df[col].quantile(0.25)
        Q3 = df[col].quantile(0.75)
        IQR = Q3 - Q1
        lower_bound = Q1 - 1.5 * IQR
        upper_bound = Q3 + 1.5 * IQR
        outliers = df[(df[col] < lower_bound) | (df[col] > upper_bound)][col]
        print(f"\n{col} 이상치 개수: {len(outliers)}")
        if len(outliers) > 0:
            print(f"이상치 범위: {outliers.min()} ~ {outliers.max()}")

numeric_columns = ['Exercise_Duration', 'Body_Temperature(F)', 'BPM', 
                  'Weight(lb)', 'Age', 'Calories_Burned']
print("\n=== 이상치 확인 ===")
check_outliers(train_df, numeric_columns)

=== 이상치 확인 ===

Exercise_Duration 이상치 개수: 0

Body_Temperature(F) 이상치 개수: 195
이상치 범위: 98.8 ~ 100.4

BPM 이상치 개수: 1
이상치 범위: 128.0 ~ 128.0

Weight(lb) 이상치 개수: 4
이상치 범위: 271.2 ~ 291.0

Age 이상치 개수: 0

Calories_Burned 이상치 개수: 2
이상치 범위: 295.0 ~ 300.0

In [13]:
# 5. 상관관계 확인
correlation = train_df[numeric_columns].corr()
print("\n=== 칼로리 소모량과의 상관관계 ===")
print(correlation['Calories_Burned'].sort_values(ascending=False))

=== 칼로리 소모량과의 상관관계 ===
Calories_Burned        1.000000
Exercise_Duration      0.954783
BPM                    0.899900
Body_Temperature(F)    0.824379
Age                    0.159624
Weight(lb)             0.042568
Name: Calories_Burned, dtype: float64